.lightbox-rows
  .import
    span.description
      | Choose File
    input.input-import.hide(
      type='file'
      accept='.txt'
    )
    button.btn.btn-import
      span.btn-icon
        != icons('file-plus')
      span.btn-text
        | Import
