doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content='todo-dot-txt minimal todo.txt web ui')

    title todo-dot-txt

    //- link(href= url('/site.css') rel="stylesheet" type="text/css")
  body
    tdt-root
    //- script(src= url('/site.js'))
