.lightbox-rows
  .purge
    span.description
      | Purge completed tasks.
    button.btn.btn-purge
      span.btn-icon
        != icons('trash-2')
      span.btn-text
        | Purge
  .import
    span.description
      | Import tasks from file.
    button.btn.btn-import
      span.btn-icon
        != icons('file-plus')
      span.btn-text
        | Import
  .export
    span.description
      | Export tasks to file.
    button.btn.btn-export
      span.btn-icon
        != icons('download')
      span.btn-text
        | Export
