.filterContainer
  input.filter(
    value= filter
  )
  if filter
    button.btn.btn-clear
      span.btn-icon
        != icons('x')
  else
    button.btn.btn-apply
      span.btn-icon
        != icons('search')
