.filter
  input.filter(
    value= filter.text
  )
  if filter.text
    button.btn.btn-clear
      span.btn-icon
        != icons('x')
  else
    button.btn.btn-apply
      span.btn-icon
        != icons('search')
