.list
  for task in resolvedTasks
    if task.active
      tdt-task-active(
        data-id= task.id
        data-list= task.list
      )
    else
      tdt-task-inactive(
        data-id= task.id
      )
