.task-active
  .inputBar
    input(
      value= task ? task.raw : ''
      placeholder= randomPlaceholder()
    )
    buttn.btn.btn-save
      span.btn-icon
        != icons('save')
  .buttonBar
    buttn.btn.btn-calendar
      span.btn-icon
        != icons('calendar')
      span.btn-text
        | Due
